body, head 
{
    margin: 0;
    background-color: #DEF2F1;
    text-align: center;
    font-style: helvetica;
}
.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17252A;
  }
.navBar li {
    text-align: right; 
    display:inline-block;
    padding: 0;
}
.navBar img {
    float: left;
    padding: 0;
  }

.navBar li a {
  display: block;
  color: #FEFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}